/* placeholder = % + nombre {} */

%mensaje {
    border-radius: 6px;
    padding: 10px 1rem;
    border: 1px solid gray;    
}

.error {
    background-color: red;
    @extend %mensaje;
}

.ok {
    background-color: green;
    @extend %mensaje;
}